# Ingestion des données en base de données

Pour résumer, l'objectif du projet est de s'entraîner en SQL et en Python pour se maintenir à jour en SQL (notamment les CTEs, les windows functions et les RANKS) et en Python (dataframes, SQLAlchemy, Pydantic, FastAPI, tests unitaires, Mock si pertinent, et si pertinent un peu d'intégration de modèles de machine learning).

La première chose dans ce notebook ça va être de préparer les données et de les importer dans une DB PostgreSQL.

## Nettoyer les données

D'abord on regarde les données pour comprendre la structure.

In [1]:
import pandas as pd
import numpy as np

dataset_path = "Olympic_Swimming_Results_1912to2020"

# Lire le fichier CSV et afficher les colonnes
df = pd.read_csv(dataset_path + ".csv")
print(df.columns)
print(df.head())

distinct_distances = df['Distance (in meters)'].unique()  # Assurez-vous que le nom de la colonne est correct
print("Distances distinctes:", distinct_distances)

distinct_results = df['Results'].unique()
print("Nombre de résultats distincts:", len(distinct_results))

# Sélectionner aléatoirement 100 résultats distincts (ou moins s'il y en a moins de 100)
sample_size = min(100, len(distinct_results))
random_sample = np.random.choice(distinct_results, size=sample_size, replace=False)

print(f"\n{sample_size} résultats distincts aléatoires:")
for result in random_sample:
    print(result)

Index(['Location', 'Year', 'Distance (in meters)', 'Stroke', 'Relay?',
       'Gender', 'Team', 'Athlete', 'Results', 'Rank'],
      dtype='object')
  Location  Year Distance (in meters)      Stroke  Relay? Gender Team  \
0    Tokyo  2020                 100m  Backstroke       0    Men  ROC
1    Tokyo  2020                 100m  Backstroke       0    Men  ROC
2    Tokyo  2020                 100m  Backstroke       0    Men  USA
3    Tokyo  2020                 100m  Backstroke       0    Men  ITA
4    Tokyo  2020                 100m  Backstroke       0    Men  CHN

              Athlete Results  Rank
0        Evgeny Rylov   51.98     1
1  Kliment Kolesnikov      52     2
2         Ryan Murphy   52.19     3
3       Thomas Ceccon    52.3     4
4            Jiayu Xu   52.51     4
Distances distinctes: ['100m' '1500m' '200m' '400m' '50m' '800m' '4x100' '4x200']
Nombre de résultats distincts: 3636

100 résultats distincts aléatoires:
00:10:19.400000
00:04:59.800000
00:02:13.740000
00:09:36.200000
00:02:15.380000
00:03:37.460000
00:01:01.600000
1:57.31
00:01:58.000000
00:04:26.360000
00:04:35.800000
55.580
00:03:58.230000
00:02:10.700000
00:01:18.800000
00:02:12.340000
00:07:24.030000
00:01:45.490000
00:08:03.690000
00:05:35.700000
00:01:10.000000
00:07:25.630000
00:01:05.780000
00:03:31.580000
14:39.65
00:03:44.910000
00:03:21.070000
00:08:31.970000
00:03:06.400000
00:04:01.490000
00:02:36.220000
00:02:51.900000
00:02:10.300000
00:03:46.900000
00:01:58.890000
00:02:31.450000
00:07:26.720000
00:02:25.900000
00:02:13.000000
00:03:43.100000
00:01:08.400000
00:03:30.650000
00:04:48.100000
00:03:11.480000
00:03:20.160000
00:03:57.930000
53.750
00:04:27.810000
00:03:40.910000
00:03:40.540000
00:07:52.300000
51.810
00:07:13.660000
00:04:44.100000
00:02:06.660000
00:01:07.440000
00:02:00.590000
00:02:10.680000
00:04:42.200000
00:02:51.300000
00:02:08.510000
00:02:24.060000
52.000
00:08:28.900000
00:01:04.260000
00:01:15.730000
00:05:43.400000
00:02:13.970000
00:02:11.930000
00:02:03.150000
00:02:12.600000
00:02:09.250000
23:04.0est
00:04:29.230000
59.690
24.510
00:02:18.860000
00:01:58.870000
21.590
00:04:47.510000
00:08:23.860000
00:02:08.150000
00:04:06.240000
00:03:35.910000
00:16:36.030000
00:03:48.590000
3:56.69
00:09:18.200000
58.000
00:04:15.710000
00:03:29.240000
00:01:01.390000
00:02:12.900000
00:02:14.600000
58.200
00:08:27.750000
56.260
00:04:41.000000
00:02:30.380000
00:02:25.720000

On renomme les colonnes pour les rendre plus faciles à utiliser.

In [2]:
import pandas as pd
import re

# Renommer les colonnes
df = df.rename(columns={
    'Location': 'location',
    'Year': 'year',
    'Distance (in meters)': 'distance',
    'Stroke': 'stroke',
    'Relay?': 'is_relay',
    'Gender': 'gender',
    'Team': 'team',
    'Athlete': 'athlete',
    'Results': 'results',
    'Rank': 'rank'
})

print(df.head())

  location  year distance      stroke  is_relay gender team  \
0    Tokyo  2020     100m  Backstroke         0    Men  ROC
1    Tokyo  2020     100m  Backstroke         0    Men  ROC
2    Tokyo  2020     100m  Backstroke         0    Men  USA
3    Tokyo  2020     100m  Backstroke         0    Men  ITA
4    Tokyo  2020     100m  Backstroke         0    Men  CHN

              athlete results  rank
0        Evgeny Rylov   51.98     1
1  Kliment Kolesnikov      52     2
2         Ryan Murphy   52.19     3
3       Thomas Ceccon    52.3     4
4            Jiayu Xu   52.51     4

On convertit la colonne is_relay en booléen.

In [3]:
# Convertir 'is_relay' en booléen
df['is_relay'] = df['is_relay'].map(lambda x: True if x == 1 else False)

print(df.head())

  location  year distance      stroke  is_relay gender team  \
0    Tokyo  2020     100m  Backstroke     False    Men  ROC
1    Tokyo  2020     100m  Backstroke     False    Men  ROC
2    Tokyo  2020     100m  Backstroke     False    Men  USA
3    Tokyo  2020     100m  Backstroke     False    Men  ITA
4    Tokyo  2020     100m  Backstroke     False    Men  CHN

              athlete results  rank
0        Evgeny Rylov   51.98     1
1  Kliment Kolesnikov      52     2
2         Ryan Murphy   52.19     3
3       Thomas Ceccon    52.3     4
4            Jiayu Xu   52.51     4

On extrait la distance et le nombre de relais. On aura besoin de la distance en entier pour analyser correctement les données. Dans le CSV de base c'est un string au format [0-9]+m si c'est pas du relais (e.g 100m), et [0-9]+x[0-9]+m si c'est un relais (e.g 4x100m).

In [4]:
import re

# Fonction pour extraire la distance et le nombre de relais
def extract_distance_and_relay(distance_str):
    if 'x' in distance_str:
        nb_relay_str, distance_str = re.findall(r'\d+', distance_str)
        print(nb_relay_str, distance_str)
        return int(distance_str), int(nb_relay_str)
    else:
        distance = int(re.findall(r'\d+', distance_str)[0])
        return distance, None

# Appliquer la transformation à la colonne 'distance'
df['distance'], df['nb_relay'] = zip(*df['distance'].apply(extract_distance_and_relay))

print(df.head())

df_relay_true = df[df['is_relay'] == True]
print(df_relay_true.head())

4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 200
4 200
4 200
4 200
4 200
4 100
4 100
4 100
4 100
4 200
4 200
4 200
4 200
  location  year  distance      stroke  is_relay gender team  \
0    Tokyo  2020       100  Backstroke     False    Men  ROC
1    Tokyo  2020       100  Backstroke     False    Men  ROC
2    Tokyo  2020       100  Backstroke     False    Men  USA
3    Tokyo  2020       100  Backstroke     False    Men  ITA
4    Tokyo  2020       100  Backstroke     False    Men  CHN

              athlete results  rank  nb_relay
0        Evgeny Rylov   51.98     1       NaN
1  Kliment Kolesnikov      52     2       NaN
2         Ryan Murphy   52.19     3       NaN
3       Thomas Ceccon    52.3     4       NaN
4            Jiayu Xu   52.51     4       NaN
    location  year  distance     stroke  is_relay gender team  \
408      Rio  2016       100  Freestyle      True    Men  USA
409      Rio  2016       100  Freestyle      True    Men  FRA
410      Rio  2016       100  Freestyle      True    Men  AUS
411      Rio  2016       100  Freestyle      True    Men  RUS
412      Rio  2016       100  Freestyle      True    Men  BRA

                                               athlete          results  rank  \
408  Ryan Held, Anthony Ervin, Michael Phelps, Jame...  00:03:09.920000     1
409  William Meynard, Jeremy Stravius, Fabien Gilot...  00:03:10.530000     2
410  Cameron Mcevoy, Kyle Chalmers, Matthew Abood, ...  00:03:11.370000     3
411  Aleksandr Popkov, Andrey Grechin, Danila Izoto...  00:03:11.640000     4
412  Joao De Lucca, Marcelo Chierighini, Gabriel Da...  00:03:13.210000     4

     nb_relay
408       4.0
409       4.0
410       4.0
411       4.0
412       4.0

Ici, faut harmoniser les formats de temps. Dans le CSV de base, les temps sont dans des formats divers, parfois avec des minutes et des secondes, parfois avec des heures, parfois avec des décimales. On va tout convertir en secondes, sous forme de float avec une précision à la microseconde.

In [5]:
import re
import numpy as np

def clean_time_str(time_str):
    if isinstance(time_str, str):
        # Extraire les chiffres et les séparateurs pertinents
        cleaned = re.match(r'^(\d+:?\d*:?\d*\.?\d*)', time_str)
        if cleaned:
            return cleaned.group(1)
        elif not re.search(r'\d', time_str):
            return time_str  # Retourner la chaîne si elle ne contient aucun chiffre
    return time_str

def convert_to_seconds(time_str):
    original_value = time_str
    time_str = clean_time_str(time_str)
    
    if isinstance(time_str, float):
        return time_str, None  # Déjà en secondes
    elif isinstance(time_str, str):
        if ':' in time_str:
            # Format 00:04:37.510000
            time_parts = time_str.split(':')
            if len(time_parts) == 3:
                hours, minutes, seconds = time_parts
                total_seconds = int(hours) * 3600 + int(minutes) * 60 + float(seconds)
            else:
                minutes, seconds = time_parts
                total_seconds = int(minutes) * 60 + float(seconds)
        elif re.match(r'^\d+(\.\d+)?$', time_str):
            # Format 59.720
            total_seconds = float(time_str)
        else:
            return np.nan, original_value  # Cas de disqualification ou format invalide
    else:
        return np.nan, str(original_value)  # Cas où le type n'est pas reconnu
    
    return round(total_seconds, 3), None  # Arrondir à 3 décimales pour la précision milliseconde

# Appliquer la conversion à la colonne 'results'
df['results'], df['quit_reason'] = zip(*df['results'].apply(convert_to_seconds))

# Afficher les premières lignes pour vérification
print(df.head())
print("\nColonnes du DataFrame:", df.columns)

# Afficher 50 valeurs aléatoires du DataFrame
random_sample = df.sample(n=50, random_state=1)  # random_state pour la reproductibilité
print("\n50 valeurs aléatoires du DataFrame :")
print(random_sample)

  location  year  distance      stroke  is_relay gender team  \
0    Tokyo  2020       100  Backstroke     False    Men  ROC
1    Tokyo  2020       100  Backstroke     False    Men  ROC
2    Tokyo  2020       100  Backstroke     False    Men  USA
3    Tokyo  2020       100  Backstroke     False    Men  ITA
4    Tokyo  2020       100  Backstroke     False    Men  CHN

              athlete  results  rank  nb_relay quit_reason
0        Evgeny Rylov    51.98     1       NaN        None
1  Kliment Kolesnikov    52.00     2       NaN        None
2         Ryan Murphy    52.19     3       NaN        None
3       Thomas Ceccon    52.30     4       NaN        None
4            Jiayu Xu    52.51     4       NaN        None

Colonnes du DataFrame: Index(['location', 'year', 'distance', 'stroke', 'is_relay', 'gender', 'team',
       'athlete', 'results', 'rank', 'nb_relay', 'quit_reason'],
      dtype='object')

50 valeurs aléatoires du DataFrame :
       location  year  distance             stroke  is_relay gender team  \
3982     Berlin  1936       400          Freestyle     False  Women  DEN
1995  Barcelona  1992        50          Freestyle     False  Women  FRA
3568       Rome  1960       200       Breaststroke     False  Women  GBR
544      London  2012      1500          Freestyle     False    Men  CHN
2340    Angeles  1984       200         Backstroke     False  Women  USA
1375     Sydney  2000       200          Freestyle     False    Men  AUS
299         Rio  2016       200         Backstroke     False    Men  CHN
1012     Athens  2004       100       Breaststroke     False    Men  KAZ
1785  Barcelona  1992       100       Breaststroke     False  Women  USA
3975     Berlin  1936       400          Freestyle     False    Men  AUT
1028     Athens  2004       100          Butterfly     False    Men  RUS
4275    Antwerp  1920       400       Breaststroke     False    Men  SWE
1395     Sydney  2000       200  Individual medley     False  Women  CAN
3080     Munich  1972       400  Individual medley     False  Women  AUS
3573       Rome  1960       200       Breaststroke     False  Women  USA
90        Tokyo  2020       400  Individual medley     False    Men  AUS
1535    Atlanta  1996       100       Breaststroke     False  Women  BEL
4347  Stockholm  1912       400          Freestyle     False    Men  HUN
3637  Melbourne  1956       100         Backstroke     False    Men  GBR
3423      Tokyo  1964       200       Breaststroke     False    Men  URS
2694     Moscow  1980       800          Freestyle     False  Women  GDR
3977     Berlin  1936       400          Freestyle     False  Women  DEN
3792   Helsinki  1952       400          Freestyle     False    Men  FRA
1141     Athens  2004       200  Individual medley     False  Women  AUS
719      London  2012        50          Freestyle     False    Men  AUS
566      London  2012       200         Backstroke     False  Women  FRA
2354    Angeles  1984       200       Breaststroke     False  Women  BEL
1239     Athens  2004        50          Freestyle     False  Women  BRA
364         Rio  2016       200  Individual medley     False    Men  USA
2860   Montreal  1976       400  Individual medley     False  Women  GDR
1941  Barcelona  1992       400  Individual medley     False  Women  GER
4337  Stockholm  1912       400       Breaststroke     False    Men  GBR
4321  Stockholm  1912      1500          Freestyle     False    Men  ANZ
94        Tokyo  2020       400  Individual medley     False    Men  NZL
3369      Tokyo  1964       100         Backstroke     False  Women  FRA
3144       City  1968       100         Backstroke     False  Women  USA
1089     Athens  2004       200       Breaststroke     False  Women  AUS
2369    Angeles  1984       200          Butterfly     False  Women  AUS
813     Beijing  2008       200         Backstroke     False    Men  AUS
1125     Athens  2004       200          Freestyle     False  Women  USA
17        Tokyo  2020       100          Butterfly     False    Men  HUN
662      London  2012       400  Individual medley     False  Women  USA
1717    Atlanta  1996       100             Medley      True  Women  GER
678      London  2012       100          Freestyle      True  Women  JPN
2712   Montreal  1976       100       Breaststroke     False    Men  USA
671      London  2012       100          Freestyle      True    Men  BEL
703      London  2012       200          Freestyle      True    Men  HUN
3834     London  1948       100         Backstroke     False  Women  AUS
1913  Barcelona  1992       400          Freestyle     False    Men  AUS
4149  Amsterdam  1928       100          Freestyle      True  Women  GER

                                                athlete  results  rank  \
3982                          Grethe Ortved Frederiksen   345.00     4
1995                                Catherine Plewinski    25.36     4
3568                                   Anita Lonsbrough   169.50     1
544                                            Yang Sun   871.02     1
2340                                  Torri Leigh Trees   135.73     4
1375                                      Grant Hackett   109.46     4
299                                            Jiayu Xu   115.16     4
1012                                 Vladislav Polyakov    61.34     4
1785                                         Anita Nall    68.17     2
3975                                   Günther Zobernig      NaN     0
1028                                     Igor Marchenko    52.32     4
4275                                        Tor Henning   405.20     3
1395                             Marianne Luise Limpert   133.44     4
3080                                         Gail Neall   302.97     1
3573                                 Anna Kindel Warner   175.40     4
90                                        Brendon Smith   250.38     3
1535                                     Brigitte Becue    69.79     4
4347                                    Béla Las Torres   342.00     4
3637                                       Graham Sykes    65.60     4
3423                                  Vladimir Kosinsky   158.10     4
2694                                      Ines Geissler   525.28     4
3977                                Ragnild Tove Hveger   327.50     2
3792                                       Jean Boiteux   270.70     1
1141                                       Lara Carroll   133.74     4
719                                      Eamon Sullivan    21.98     4
566                                    Alexianne Castel   128.43     4
2354                                   Ingrid Lempereur   151.40     3
1239                                  Flavia Cazziolato    25.20     4
364                                         Ryan Lochte   117.47     4
2860                                       Sabine Kahle   293.50     4
1941                                     Daniela Hunger   287.57     4
4337                                     Percy Courtman   396.40     3
4321                                 Harold H. Hardwick  1395.40     3
94                                      Lewis Clareburt   251.22     4
3369                             Christine (Kiki) Caron    67.90     2
3144                                    Kaye Marie Hall    66.20     1
1089                                       Leisel Jones   143.60     2
2369                                     Karen Phillips   130.56     2
813                                     Hayden Stoeckel   116.39     4
1125                                       Dana Vollmer   118.98     4
17                                Kristof Kristof Milak    49.68     2
662                                    Caitlin Leverenz   275.49     4
1717  Antje Buschschulte, Sandra Voelker, Kathrin Du...   249.22     4
678   Hanae Ito, Haruka Ueda, Miki Uchida, Yayoi Mat...   217.96     4
2712                             John Frederick Hencken    63.11     1
671   Jasper Aerents, Emmanuel Vanluchene, Pieter Ti...   194.40     4
703   Dominik Kozma, Laszlo Cseh, Peter Bernek, Gerg...   433.66     4
3834                                  Judith Joy Davies    76.70     3
1913                                Kieren John Perkins   225.16     2
4149                               Irmintraut Schneider   314.40     4

      nb_relay    quit_reason
3982       NaN           None
1995       NaN           None
3568       NaN           None
544        NaN           None
2340       NaN           None
1375       NaN           None
299        NaN           None
1012       NaN           None
1785       NaN           None
3975       NaN  Did not start
1028       NaN           None
4275       NaN           None
1395       NaN           None
3080       NaN           None
3573       NaN           None
90         NaN           None
1535       NaN           None
4347       NaN           None
3637       NaN           None
3423       NaN           None
2694       NaN           None
3977       NaN           None
3792       NaN           None
1141       NaN           None
719        NaN           None
566        NaN           None
2354       NaN           None
1239       NaN           None
364        NaN           None
2860       NaN           None
1941       NaN           None
4337       NaN           None
4321       NaN           None
94         NaN           None
3369       NaN           None
3144       NaN           None
1089       NaN           None
2369       NaN           None
813        NaN           None
1125       NaN           None
17         NaN           None
662        NaN           None
1717       4.0           None
678        4.0           None
2712       NaN           None
671        4.0           None
703        4.0           None
3834       NaN           None
1913       NaN           None
4149       4.0           None

Maintenant on va traiter le nom des athlètes.

Il y a non seulement des noms nuls (qu'on va renommer "Unknown"), mais aussi des noms multiples quand il y a des relais.

Dans le dernier cas, on va créer un tuple par athlète.

In [6]:
df['athlete'] = df['athlete'].fillna("Unknown")

relay_rows = []

# Itérer sur chaque ligne du DataFrame
for index, row in df.iterrows():
    if row['is_relay']:
        athletes = row['athlete'].split(',')  # Séparer les noms des athlètes
        for athlete in athletes:
            relay_rows.append({
                'id': len(relay_rows) + 1,  # ID autoincrémenté
                'location': row['location'],
                'year': row['year'],
                'distance': row['distance'],
                'stroke': row['stroke'],
                'is_relay': row['is_relay'],
                'gender': row['gender'],
                'team': row['team'],
                'athlete': athlete.strip(),  # Enlever les espaces
                'results': row['results'],
                'rank': row['rank'],
                'nb_relay': row['nb_relay']
            })
    else:
        relay_rows.append({
            'id': len(relay_rows) + 1,
            'location': row['location'],
            'year': row['year'],
            'distance': row['distance'],
            'stroke': row['stroke'],
            'is_relay': row['is_relay'],
            'gender': row['gender'],
            'team': row['team'],
            'athlete': row['athlete'],
            'results': row['results'],
            'rank': row['rank'],
            'nb_relay': row['nb_relay']
        })

# Créer un nouveau DataFrame à partir des lignes de relais
df_relay_expanded = pd.DataFrame(relay_rows)

print(df_relay_expanded.head())

   id location  year  distance      stroke  is_relay gender team  \
0   1    Tokyo  2020       100  Backstroke     False    Men  ROC
1   2    Tokyo  2020       100  Backstroke     False    Men  ROC
2   3    Tokyo  2020       100  Backstroke     False    Men  USA
3   4    Tokyo  2020       100  Backstroke     False    Men  ITA
4   5    Tokyo  2020       100  Backstroke     False    Men  CHN

              athlete  results  rank  nb_relay
0        Evgeny Rylov    51.98     1       NaN
1  Kliment Kolesnikov    52.00     2       NaN
2         Ryan Murphy    52.19     3       NaN
3       Thomas Ceccon    52.30     4       NaN
4            Jiayu Xu    52.51     4       NaN

Pour clarifier le dataframe, voici les différentes colonnes:

- location : ville où a eu lieu le tournoi

- year : année du tournoi

- is_relay : si c'est un relais ou non

- distance : distance en mètres de la course (soit la course entière si ce n'est pas un relais, soit la distance de nage pour chaque athlète dans le cas d'un relais)

- nb_relay : nombre de relais (None si ce n'est pas un relais)

- stroke : type de nage

- gender : genre

- team : équipe

- athlete : nom de l'athlète (Unknown si inconnu)

- results : temps réalisé en secondes (float), avec une précision de la microseconde, None si disqualifié

- quit_reason : raison de la disqualification (None si pas de disqualification)

- rank : classement (0 si disqualifié, 1 si or, 2 si argent, 3 si bronze, 4 si pas de médaille, 5 si pas de donnée)

- id : on s'en sert pour former les équipes quand c'est un relais, on ne l'utilise que pour l'ingestion des données en base de données c'est pas important

## Ingérer les données en base de données

On commence par connecter la base de données, les variables d'environnement sont stockées dans un fichier .env

In [7]:
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine

load_dotenv()

username = os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
dbname = os.getenv("DB_NAME")
# Création de la base de données
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{dbname}')  # Remplacez par votre URI de base de données

On va découper les données en cinq objets:
- Athlete : id (primary key), name, gender
- Event : id (primary key), location, year, distance, stroke, is_relay, nb_relay
- NationalTeam : id (primary key), code
- EventTeam : id (primary key), event_id (foreign key), athlete_id (foreign key), national_team_id (foreign key)
- Result : id (primary key), team_id (foreign key), results, rank, quit_reason

Ainsi, on normalise les données

In [12]:
from sqlalchemy import create_engine, Column, Integer, String, Boolean, ForeignKey, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy.exc import IntegrityError

Base = declarative_base()

class Athlete(Base):
    __tablename__ = 'athletes'
    
    athlete_id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String)
    gender = Column(String)

class Event(Base):
    __tablename__ = 'events'
    
    event_id = Column(Integer, primary_key=True, autoincrement=True)
    location = Column(String)
    year = Column(Integer)
    distance = Column(Integer)
    stroke = Column(String)
    is_relay = Column(Boolean)
    nb_relay = Column(Integer, nullable=True)

class NationalTeam(Base):
    __tablename__ = 'national_teams'
    
    national_team_id = Column(Integer, primary_key=True, autoincrement=True)
    code = Column(String)

class EventTeam(Base):
    __tablename__ = 'event_teams'
    
    event_team_id = Column(Integer, primary_key=True, autoincrement=True)
    event_id = Column(Integer, ForeignKey('events.event_id'))
    athlete_id = Column(Integer, ForeignKey('athletes.athlete_id'))
    national_team_id = Column(Integer, ForeignKey('national_teams.national_team_id'))

class Result(Base):
    __tablename__ = 'results'
    
    result_id = Column(Integer, primary_key=True, autoincrement=True)
    event_team_id = Column(Integer, ForeignKey('event_teams.event_team_id'))
    results = Column(Float, nullable=True)
    rank = Column(Integer)
    quit_reason = Column(String, nullable=True)

# Création des tables si elles n'existent pas déjà
try:
    Base.metadata.create_all(engine)
except IntegrityError:
    print("Les tables existent déjà.")

/tmp/ipykernel_18580/3533957813.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

Enfin on peuple les tables avec les données.

In [16]:

from sqlalchemy.orm import sessionmaker
import pandas as pd

# Création d'une session
Session = sessionmaker(bind=engine)
session = Session()

# Fonctions pour ajouter ou récupérer des données
def get_or_create_athlete(name, gender):
    athlete = session.query(Athlete).filter_by(name=name, gender=gender).first()
    if not athlete:
        athlete = Athlete(name=name, gender=gender)
        session.add(athlete)
        session.commit()
    return athlete

def get_or_create_event(location, year, distance, stroke, is_relay, nb_relay):
    nb_relay = None if is_relay == False else int(nb_relay)
    event = session.query(Event).filter_by(location=location, year=year, distance=distance, stroke=stroke, is_relay=is_relay, nb_relay=nb_relay).first()
    if not event:
        event = Event(location=location, year=year, distance=distance, stroke=stroke, is_relay=is_relay, nb_relay=nb_relay)
        session.add(event)
        session.commit()
    return event

def get_or_create_national_team(code):
    team = session.query(NationalTeam).filter_by(code=code).first()
    if not team:
        team = NationalTeam(code=code)
        session.add(team)
        session.commit()
    return team

def get_or_create_team(event_id, athlete_id, national_team_id):
    team = session.query(EventTeam).filter_by(event_id=event_id, athlete_id=athlete_id, national_team_id=national_team_id).first()
    if not team:
        team = EventTeam(event_id=event_id, athlete_id=athlete_id, national_team_id=national_team_id)
        session.add(team)
        session.commit()
    return team

def get_or_create_result(event_team_id, results, rank, quit_reason):
    result = session.query(Result).filter_by(event_team_id=event_team_id, results=results, rank=rank).first()
    if not result:
        result = Result(event_team_id=event_team_id, results=results, rank=rank, quit_reason=quit_reason)
        session.add(result)
    return result

# Parcourir le dataframe et ajouter les données
for _, row in df_relay_expanded.iterrows():
    athlete = get_or_create_athlete(row['athlete'], row['gender'])
    national_team = get_or_create_national_team(row['team'])
    event = get_or_create_event(row['location'], row['year'], row['distance'], row['stroke'], row['is_relay'], row['nb_relay'])
    event_team = get_or_create_team(event.event_id, athlete.athlete_id, national_team.national_team_id)
    get_or_create_result(event_team.event_team_id, row['results'], row['rank'], row.get('quit_reason'))

# Commit final pour sauvegarder toutes les modifications
session.commit()

# Fermer la session
session.close()

print("Base de données peuplée avec succès!")

Base de données peuplée avec succès!